:host {
  --level-grid-color: rgba(128, 128, 128, 0.313);
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.gameArea {
  max-height: 100vh;
  max-width: 100vh;
}

.level {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
  width: var(--token-width);
  height: var(--token-width);
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--level-grid-color);

  &.rowEven,
  &.cellEven {
    background-color: transparent;
    background-color: transparent;
  }

  &.rowEven {
    &.cellEven {
      background-color: var(--level-grid-color);
    }
  }
}
