/* You can add global styles to this file, and also import other style files */

:root {
  --token-width: calc(100vh / 16);
}

body {
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
